.formContol{
    width: 150px;
    margin-bottom: auto;
    
}
.wrapper{
    
    margin-bottom: 20px;
    
}

.selectEmpty{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 25px;
}

.marginBottom{
    margin-bottom: 30px;
}

.list{
    height: 75vh;
    overflow: auto;
    
}
